.chat
  .right-header
    .right-header__group
      .right-header__group__name
        = @group.name
      .right-header__group__name__memberlist
      
        Member:
        .right-header__group__name__memberlist__member
        - @group.users.each do |group|
          = group.name
    = link_to 'Edit', edit_group_path(@group), class:"right-header__edit"
      
  .message-field
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: 'footer__form'}, local: true do |f|
      .footer__form__box
        = f.text_field :content, class: 'footer__form__box__input', placeholder: 'type a message'
        = f.label :image, class: 'footer__form__box__content' do
          = icon('far', 'image', class: 'footer__form__box__content__image' )
          = f.file_field :image, class: 'footer__form__box__content__file' 
        = f.submit 'Send', class: 'footer__form__box__send'